.mainPlayer button {
    position: relative;
    top:-700px;
    left:230px; 
    width:0px;
    height:0px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin-right: 10px;
    cursor:pointer;
}